/* PC */
@media (min-width: 64em){

}

/* Tablet && Mobile */
@media (max-width: 63.9375em){
    /* begin nav */
    #header {
        transition: 1s;
    }

    .over-flow {
        overflow: hidden;
    } 
    .home {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .nav-item {
        background-color: #191e28;
        padding-left: 20px;
        transition: 1s;

    }

    .nav-item a {
        display: block;
        width: 100%;
    }
    .open-btn {
        display: block;
        font-size: 2.5rem;
        color: #fff;
        line-height: 8vh;
        padding: 0 20px;
        text-align: center;
        margin-right: -10px;
    }
    .nav-list {
        flex-direction: column;
    }
    /* end nav */
    .section__box {
        flex-direction: column;
    }

    .slider{
        width: 100%;
    }
    .slide img{
        width: 100%;
    }
    .navigation-manual{
        width: 100%;
    }
    .navigation-auto{
        width: 100%;
    }
    .content-table {
        min-width: 300px;
        margin: auto;
        margin-bottom: 40px;
    }
    .list-item {
        flex-direction: column;
        width: 50%;
    }
    .contact-item {
        margin-bottom: 40px;
        overflow-wrap: break-word;
    }

    .about-img img {
        width: 80%;
    }

    .section__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* flex-wrap: wrap; */
    }

    .section__item {
        width: calc(70%);
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em){
    .section-item::after {
        width: 50% !important;
    }
}

/* Mobile */
@media (max-width: 46.1875em){
    .section__item p {
        font-size: 1.4rem;
    }

    .section__descrip {
        font-size: 1.4rem;
        
    }
    .section__title {
        font-size: 2.3rem;
    }

    .replace-insight h2{
        font-size: 1.7rem !important;
    }
}